@model IEnumerable<HomeAutomex.Models.DispositivoModel>

@{
    ViewBag.Title = "ListarDispositivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<legend>Dispositivo</legend>

<p>
    @Html.ActionLink("Criar novo", "RegistrarDispositivo")
</p>
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId= "Grid", HttpMethod = "POST" }))
{
<div class="editor-label">
    @Html.Label("Pesquisar")
</div>
<div class="editor-field">
    @Html.Editor("pesquisa")
    <input type="submit" value="Pesquisar" class="btn-glow primary login"/>
</div>
   <br />
<table id="Grid" class="table table-bordered">
    <tr>
         <th>
            Residência
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChavePorta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChaveAmbiente)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.Favorito)
        </th>
        <th>
            Opções
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Ambiente.Residencia.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Porta.Identificador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ambiente.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Favorito)
        </td>
        <td>
             @Html.ActionLink("Editar", "EditarDispositivo", new { chave = item.Chave }) |
            @Html.ActionLink("Delete", "DeleteDispositivo", new { chave = item.Chave })
        </td>
    </tr>
}

</table>
}