@model IEnumerable<HomeAutomex.Models.DispositivoModel>

@{
    ViewBag.Title = "ListarDispositivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<legend>Listar Dispositivo</legend>

<p>
    @Html.ActionLink("Create New", "RegistrarDispositivo")
</p>
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId= "Grid", HttpMethod = "POST" }))
{
<div class="editor-label">
    @Html.Label("Pesquisar")
</div>
<div class="editor-field">
    @Html.Editor("pesquisa")
    <input type="submit" value="Pesquisar" class="btn-glow primary login"/>
</div>
   <br />
<table id="Grid" class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAlteracao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataExclusao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desativado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PortaModulo)
        </th>
        <th>
            Opções
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataAlteracao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataExclusao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desativado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PortaModulo)
        </td>
        <td>
             @Html.ActionLink("Editar", "EditarDispositivo", new { chave = item.Chave }) |
            @Html.ActionLink("Delete", "DeleteDispositivo", new { chave = item.Chave })
        </td>
    </tr>
}

</table>
}