@model IEnumerable<HomeAutomex.Models.CenarioModel>

@{
    ViewBag.Title = "ListarCenario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<legend>Cenário</legend>    

<p>
    @Html.ActionLink("Criar novo", "RegistrarCenario")
</p>
<table id="Grid" class="table table-bordered">
    <tr>
         <th>
            #@Html.DisplayNameFor(model => model.Chave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Desativado)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Chave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Desativado)
        </td>
        
        <td>
            @Html.ActionLink("Editar", "EditarCenario", new { chave = item.Chave }) |
            @Html.ActionLink("Delete", "DeleteCenario", new { chave = item.Chave })
        </td>
    </tr>
}

</table>
