@model IEnumerable<HomeAutomex.Models.AgendamentoModel>

@{
    ViewBag.Title = "ListarAgendamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<legend>Agendamento</legend>

<p>
    @Html.ActionLink("Criar novo", "RegistrarAgendamento")
</p>
 <table id="Grid" class="table table-bordered">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Chave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        
        <th>
           Data e Hora do Agendamento
        </th>
        
       
        
        <th>Opções</th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.Chave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.DataAgendamento)
        </td>
        <td>
             @Html.ActionLink("Editar", "EditarAgendamento", new { chave = item.Chave }) |
            @Html.ActionLink("Delete", "DeleteAgendamento", new { chave = item.Chave })
       
        
    </tr>
}

</table>
