@model HomeAutomex.Models.AgendamentoModel

@{
    ViewBag.Title = "RegistrarAgendamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Registrar Agendamento</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.Cenario)
        </div>
         <div class="editor-label">
            @Html.DropDownListFor(model => model.Cenario, ViewBag.Cenario as List<SelectListItem>, "Selecione...", new { @class = "input" })
        </div>    <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.Ativo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ativo)
            @Html.ValidationMessageFor(model => model.Ativo)
        </div> 
        <br />
<div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
  <input class="span2" size="16" type="text" value="12-02-2012">
  <span class="add-on"><i class="icon-th"></i></span>
</div>
        <p>
           <input type="submit" value="Registrar" class="btn-glow primary login" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
$('#sandbox-container input').datepicker({
    calendarWeeks: true,
    autoclose: true,
    todayHighlight: true
});
</script>




