@model HomeAutomex.Models.AgendamentoModel

@{
    ViewBag.Title = "RegistrarAgendamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Registrar Agendamento</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>
         <div class="editor-label">
            @Html.LabelFor(model => model.Dispositivo)
        </div>
         <div class="editor-label">
            @Html.DropDownListFor(model => model.Dispositivo, ViewBag.Dispositivo as List<SelectListItem>, "Selecione...", new { @class = "input" })
        </div>    <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.Ativo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ativo)
            @Html.ValidationMessageFor(model => model.Ativo)
        </div>   <br />
         <div class="editor-label">
            @Html.LabelFor(model => model.DataAgendamento)
        </div>
              <div class="editor-field">
            @Html.EditorFor(model => model.DataAgendamento)
          @*  @Html.ValidationMessageFor(model => model.DataAgendamento)*@
        </div> 
        <br />

        <p>
           <input type="submit" value="Registrar" class="btn-glow primary login" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery.mask.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#DataAgendamento").mask('00/00/0000 00:00:00');
    });
</script>




