@model IEnumerable<HomeAutomex.Models.UsuarioModel>

@{
    ViewBag.Title = "ListarUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listar Usuário</h2>

<p>
    @Html.ActionLink("Criar usuário", "Register")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            #@Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
          <th>
          Opções
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.Chave)
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { chave = item.Chave }) |
            @Html.ActionLink("Detalhe", "Detalhe", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { chave = item.Chave })
        </td>
    </tr>
}

</table>
