@model HomeAutomex.Models.UsuarioModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
   
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formulário de Registro</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Login)
                @Html.TextBoxFor(m => m.Login)
            </li>
            <li>
                @Html.LabelFor(m => m.Senha)
                @Html.PasswordFor(m => m.Senha)
            </li>
            <li>
                @Html.LabelFor(m => m.confirmarSenha)
                @Html.PasswordFor(m => m.confirmarSenha)
            </li>
            <li>
                @Html.LabelFor(e => e.Nome)
                @Html.TextBoxFor(e => e.Nome)
            </li>
                 <li>
                @Html.LabelFor(e => e.Celular)
                @Html.TextBoxFor(e => e.Celular)
            </li>
               <li>
                @Html.LabelFor(e => e.Telefone)
                @Html.TextBoxFor(e => e.Telefone)
            </li>
               <li>
                @Html.LabelFor(e => e.Email)
                @Html.TextBoxFor(e => e.Email)
            @*</li>*@



        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
