@model HomeAutomex.Models.UsuarioModel

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Registrar Usuário</legend>

        <div>
            @Html.LabelFor(m => m.Login)
        </div>
        <div>
            @Html.TextBoxFor(m => m.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>
        <div>
            @Html.LabelFor(m => m.Senha)
        </div>
        <div>
            @Html.PasswordFor(m => m.Senha)
            @Html.ValidationMessageFor(model => model.Senha)
        </div>
        <div>
            @Html.LabelFor(m => m.confirmarSenha)
        </div>
        <div>
            @Html.PasswordFor(m => m.confirmarSenha)
            @Html.ValidationMessageFor(model => model.confirmarSenha)
        </div>
        <div>
            @Html.LabelFor(e => e.Nome)
        </div>
        <div>
            @Html.TextBoxFor(e => e.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
        <div>
            @Html.LabelFor(e => e.Celular)
        </div>
        <div>
            @Html.TextBoxFor(e => e.Celular)
        </div>
        <div>
            @Html.LabelFor(e => e.Telefone)
        </div>
        <div>
            @Html.TextBoxFor(e => e.Telefone)
        </div>
        <div>
            @Html.LabelFor(e => e.Email)
        </div>
        <div>
            @Html.TextBoxFor(e => e.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <input type="submit" value="Registrar" class="btn-glow primary login" />
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Listar")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
