@model HomeAutomex.Models.ModuloModel

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm()) {
    @Html.ValidationSummary()
      @Html.AntiForgeryToken()


    <fieldset>
        <legend>Editar Modulo</legend>
           <div class="editor-label">
       <div class="editor-label">
            @Html.LabelFor(model => model.Residencia)
        </div>
       @Html.DropDownListFor(model => model.ChaveResidencia, ViewBag.Residencias as List<SelectListItem>,"Selecione...", new { @class = "input"})
        </div>
        <br /> 
        <div class="editor-label">
            @Html.LabelFor(model => model.IP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IP)
            @Html.ValidationMessageFor(model => model.IP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Porta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Porta)
            @Html.ValidationMessageFor(model => model.Porta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MAC)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MAC)
            @Html.ValidationMessageFor(model => model.MAC)
        </div><br />

      

        <p>
            <input type="submit" value="Editar"  class="btn-glow primary login"   />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
