@model IEnumerable<HomeAutomex.Models.ModuloModel>

@{
    ViewBag.Title = "Modulo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<legend>Modulo</legend>
<p>
    @Html.ActionLink("Criar novo", "RegistrarModulo")
</p>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId= "Grid", HttpMethod = "POST" }))
{
<div class="editor-label">
    @Html.Label("Pesquisar")
</div>
<div class="editor-field">
    @Html.Editor("pesquisa")
    <input type="submit" value="Pesquisar" class="btn-glow primary login"/>
</div>
   <br />
<table id="Grid" class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Porta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAC)
        </th>
       <th>
            @Html.DisplayNameFor(model => model.ChaveResidencia)
        </th>
        <th>Opções</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Porta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAC)
        </td>
          <td>
            @Html.DisplayFor(modelItem => item.Residencia.Nome)
        </td>
        <td>
             @Html.ActionLink("Editar", "EditarModulo", new { chave = item.Chave }) |
            @Html.ActionLink("Delete", "DeleteModulo", new { chave = item.Chave })
        </td>
    </tr>
}

</table>
}