@model HomeAutomex.Models.ModuloModel

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrar</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ModuloModel</legend>
         
      <div class="editor-label">
       
      @* @Html.DropDownList("yearDropDown",(<SelectList>)ViewBag.yearDropDown)*@
        </div>
            
        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroIP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroIP)
            @Html.ValidationMessageFor(model => model.NumeroIP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroPorta)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroPorta)
            @Html.ValidationMessageFor(model => model.NumeroPorta)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumeroMac)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumeroMac)
            @Html.ValidationMessageFor(model => model.NumeroMac)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
