@model IEnumerable<HomeAutomex.Models.AmbienteModel>

@{
    ViewBag.Title = "ListarAmbiente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<legend>Ambiente</legend>

<p>
    @Html.ActionLink("Criar novo", "RegistrarAmbiente")
</p>

@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "Grid", HttpMethod = "POST" }))
{
    <div class="editor-label">
        @Html.Label("Pesquisar")
    </div>
    <div class="editor-field">
        @Html.Editor("pesquisa")
        <input type="submit" value="Pesquisar" class="btn-glow primary login" />
    </div>
    <br />
    <table id="Grid" class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.Residencia)
            </th>
            <th>Opções
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>                
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Residencia.Nome)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarAmbiente", new { chave = item.Chave }) |
            @Html.ActionLink("Delete", "DeleteAmbiente", new { chave = item.Chave })
                </td>
            </tr>
        }

    </table>
}