@model HomeAutomex.Models.AmbienteModel

@{
    ViewBag.Title = "RegistrarAmbiente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Registar Ambiente</legend>
          <div class="editor-label">
            @Html.LabelFor(model => model.Dispositivo)
        </div>
         <div class="editor-label"> 
       @Html.DropDownList("dispositivo",ViewBag.Dispositivo as List<SelectListItem>, new { @class="input"})
        </div>
        <br /> 
          <div class="editor-label">
            @Html.LabelFor(model => model.Residencia)
        </div>
         <div class="editor-label"> 
       @Html.DropDownList("residencia", ViewBag.Residencias as List<SelectListItem>, new { @class = "input" })
        </div>
        <br /> 

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Desativado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Desativado)
            @Html.ValidationMessageFor(model => model.Desativado)
        </div>
        <br />

        <p>
            <input type="submit" value="Registar" class="btn-glow primary login" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "ListarAmbiente")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
