@model IEnumerable<HomeAutomex.Models.DispositivoModel>

@{
    ViewBag.Title = "ListarDispositivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="Grid" class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            Ligar e Desligar
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        
  
       
       <td>
          
    <li><label><input type="checkbox"  onclick="mundarStatusDispositivo(@item.Chave);" id="@item.Chave" value="@(item.Desativado)"/>@item.Desativado</label></li>


       </td>
        
    </tr>
}
</table>
<script>
    function mundarStatusDispositivo(value) {
        alert(value);
        $.ajax({
            url: '@Url.Action("DispositivosFavoritosController", "EditarStatus")',
             contentType: "application/json; charset=utf-8",
             data: { value: "dealerID" },
             success: successFunc,
             error: errorFunc
         });

    }


</script>