@model IEnumerable<HomeAutomex.Models.DispositivoModel>

@{
    ViewBag.Title = "ListarDispositivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <legend>FAVORITOS</legend>
<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
<table id="Grid" class="table table-bordered">
    <tr>
        <td>
            FAVORITO  

        </td>
        <th>
            DESCRIÇÃO
        </th>
        <th>
            STATUS
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
          <td> <div id="divImagem"> <img src="~/Images/estrela.png" /></div></td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
       <td>
          
        <li><label><input type="checkbox"  onclick="mundarStatusDispositivo(@item.Chave);" 
            id="@item.Chave" value="@(item.Desativado)"/>@item.Desativado</label></li>

       </td>
        
    </tr>
}
</table>
<script>
    function mundarStatusDispositivo(value) {
        alert(value);
        $.ajax({
            url: '@Url.Action("EditarStatus", "DispositivosFavoritosController")',
            dataType: 'html',
            data: { chave : value, status: $("#" + value).val()  },
            success: function(){

            },
            error: function(){
            }
        });

    }


</script>