@model IEnumerable<HomeAutomex.Models.UTDispositivoModel>

@{
    ViewBag.Title = "ListarHistoricoUsoDispositivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<legend>Histórico: Uso dos dispositivos</legend>
@using (Html.BeginForm("ConsultarHistoriocoUsuPorIntervaloData", "Relatorio"))
{
    <div class="editor-field">
        Data Inicial: @Html.Editor("DataInicial")
    </div> 
    <br />
    <div class="editor-field">
        Data Final:  @Html.Editor("DataFinal")
    </div> 
    <br />
    <p>
        <input type="submit" value="Consultar" class="btn-glow primary login" />
    </p>
}
<table id="Grid" class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UT_utilizacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UT_utilizacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
      
    </tr>
}

</table>

<div style="padding: 10px; border: double solid black">
    <div><a href="@Url.Action("ReportHistoricoUsoDispositivo", new { tipoRelatorio = "PDF" })">Gerar relatório em PDF</a></div>
    <div><a href="@Url.Action("ReportHistoricoUsoDispositivo", new { tipoRelatorio = "Excel" })">Gerar relátorio em Excel</a></div>
    <div><a href="@Url.Action("ReportHistoricoUsoDispositivo", new { tipoRelatorio = "Word" })">Gerar relatório em Word</a></div>

</div>

<script src="~/Scripts/jquery.mask.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#DataInicial").mask('00/00/0000 00:00:00');
        $("#DataFinal").mask('00/00/0000 00:00:00');
    });
</script>