@model IEnumerable<HomeAutomex.Models.ResidenciaModel>

@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <legend>Listar Residências</legend>

<p>
    @Html.ActionLink("Criar nova", "Registrar")
</p>
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId= "Grid", HttpMethod = "POST" }))
{
<div class="editor-label">
    @Html.Label("Pesquisar")
</div>
<div class="editor-field">
    @Html.Editor("pesquisa")
    <input type="submit" value="Pesquisar" class="btn-glow primary login"/>
</div>
   <br />
 
<table id="Grid" class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Logradouro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cep)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Complemento)
        </th>
        <th>
            Opções
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Logradouro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cep)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Complemento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { chave = item.Chave }) |
            @Html.ActionLink("Delete", "Delete", new { chave = item.Chave })
        </td>
    </tr>
}

</table>
}