@model HomeAutomex.Models.ResidenciaModel

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
   <legend>Registrar</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Logradouro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Logradouro)
            @Html.ValidationMessageFor(model => model.Logradouro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cidade)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cidade)
            @Html.ValidationMessageFor(model => model.Cidade)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bairro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bairro)
            @Html.ValidationMessageFor(model => model.Bairro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cep)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cep)
            @Html.ValidationMessageFor(model => model.Cep)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero)
            @Html.ValidationMessageFor(model => model.Numero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Complemento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Complemento)
            @Html.ValidationMessageFor(model => model.Complemento)
        </div>

        <p>
            <input type="submit" value="Registrar" class="btn-glow primary login" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Listar")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
